@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .form-input {
        @apply w-full text-sm px-3 py-2 bg-transparent text-slate-700 block rounded-lg mt-1 focus:ring-0
    }

    .input{
        @apply block w-full px-1.5 py-2.5 mt-2 text-sm border rounded-lg bg-slate-800 border-slate-500 outline-none text-slate-300
    }
    .card-dark{
        @apply py-8 px-6  border shadow-lg rounded-xl bg-slate-900 text-slate-200 border-slate-500 shadow-slate-700
    }
}
